.header {
    position: sticky;
    z-index: 100;
    width: 100%;
    top: 0;
    background-color: var(--bg-dark-color);
    transition: 0.8s ease all;
    body.body-dark & {
        background-color: rgb(45, 44, 44);
    }
    &-container {
        max-width: var(--max-width);
        position: relative;
    }

    &-nav {
        padding: 1rem;
        @include flex-d-w-j-a-g(row, nowrap, space-between, center, 0);
        &__logo-container {
            margin: 0;
            width: auto;
            @include flex-d-w-j-a-g(row, nowrap, center, center, 1rem);
        }

        //
        &__logo {
            width: 3rem;
        }
        &__title {
            font-weight: var(--font-weight-black);
            font-size: 2rem;
            margin: 0;
            color: var(--text-light-color);
        }
        &__menu-switch {
            background: #343d5b;
            border-radius: 1000px;
            border: none;
            position: relative;
            cursor: pointer;
            @include flex-d-w-j-a-g(row, nowrap, center, center, 0);
            outline: none;
            &::after {
                content: "";
                display: block;
                width: 2.25rem;
                height: 2.25rem;
                position: absolute;
                background: #f1f1f1;
                top: 0;
                left: 0;
                right: unset;
                border-radius: 50%;
                transition: 0.3s ease all;
                box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
            }
            &.active {
                background: orange;
                color: #000;
                &::after {
                    right: 0;
                    left: unset;
                }
            }
            &-label {
                width: 2.25rem;
                height: 2.25rem;
                line-height: 2.25rem;
                font-size: 1.5rem;
                display: block;
                background: none;
                color: #fff;
            }
        }
        &__menu-link-list {
            background-color: var(--bg-light-color);
            list-style: none;
            @include flex-d-w-j-a-g(column, nowrap, center, center, 4rem);
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            margin: 0;
            opacity: 0;
            transform: scale(0);
            transform-origin: right top;
            transition: all 0.25s ease-in;
            padding: 5rem 0rem 3rem 0rem;
            border-bottom: 1px solid var(--bg-dark-color);
            body.body-dark & {
                background-color: rgb(45, 44, 44);
            }
            &-show {
                transform: none;
                opacity: 1;
            }
        }
        &__close-list-icon {
            color: var(--text-dark-color);
            font-size: 2rem;
        }
        &__list-item {
            font-size: 1.5rem;
        }
        &__link {
            color: var(--text-dark-color);
            text-decoration: none;
            text-transform: uppercase;
        }

        &__list-item {
            font-size: 1.5rem;
        }
        &__link {
            color: var(--text-dark-color);
            text-decoration: none;
            text-transform: uppercase;
            body.body-dark & {
                color: var(--text-light-color);
            }
        }
        &__menu-icon-label {
            font-size: 2rem;
            color: var(--text-light-color);
            cursor: pointer;
            &-close {
                position: absolute;
                top: 1.3rem;
                right: 1rem;
                z-index: 100;
                font-size: 2rem;
                opacity: 0;
                transition: opacity 0.5s ease-in-out;
                cursor: pointer;
                &-show {
                    opacity: 1;
                }
            }
        }
        &__menu-icon-checkbox {
            display: none;
        }
        &__menu-icon-checkbox:checked ~ &__menu-link-list {
            transform: none;
            opacity: 1;
        }
        &__menu-icon-checkbox:checked ~ &__menu-icon-label-close {
            opacity: 1;
        }
    }
}

@media (min-width: 992px) {
    .header {
        &-container {
            margin: 0 auto;
        }
        &-nav {
            &__menu-link-list {
                background-color: inherit;
                color: var(--text-light-color);
                @include flex-d-w-j-a-g(row, nowrap, center, center, 4rem);
                position: relative;
                width: auto;
                opacity: 1;
                transform: none;
                padding: 0;
                border-bottom: none;
            }
            &__list-item {
                font-size: 1.5rem;
            }
            &__link {
                text-transform: capitalize;
                color: var(--text-light-color);
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -2.5px;
                    left: 10%;
                    width: 80%;
                    background-color: var(--primary-color);
                    height: 2px;
                    transform: scale(0);
                    transform-origin: center center;
                    transition: transform 0.25s ease-in-out;
                }
                &:hover::after {
                    transform: scale(1);
                }
            }
            &__menu-icon-label {
                display: none;
                &-close {
                    display: none;
                }
            }
        }
    }
}
