.productos {
  width: 100%;
}
.productos-container {
  text-align: center;
  padding-bottom: 2rem;
  padding: 1rem;
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.productos__title {
  margin-bottom: 0;
  text-align: center;
  font-size: 2rem;
  color: var(--text-dark-color);
}
.productos__button-container {
  padding-left: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.productos__button {
  border-radius: 10px;
  background-color: var(--primary-color);
  padding: 0.5em 1em;
  list-style: none;
  cursor: pointer;
  transition: background-color 0.25s ease;
  font-size: 1rem;
}
.productos__button.current {
  filter: none;
  color: var(--text-light-color);
  background: var(--secondary-color);
}
.productos__gallery {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 220px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.productos__gallery-item {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  position: relative;
}
.productos__gallery-item-thumbnail {
  position: absolute;
  top: 0;
  left: 55px;
  width: 70%;
}
.productos__gallery-item-info {
  box-sizing: border-box;
  position: absolute;
  top: 2.5%;
  right: 2.5%;
  width: 45%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  font-size: 0.9rem;
  background-color: var(--bg-light-color);
  transition: background-color 0.25s ease;
}
.productos__gallery-item-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--text-dark-color);
}
.productos__gallery-item-title {
  font-weight: 900;
  margin: 0;
}
.productos__gallery-item-subtitle {
  font-weight: var(--font-weight-regular);
  margin: 0;
}
.productos__gallery-item-button {
  transition: box-shadow 0.25s ease-in-out;
  background-color: var(--bg-light-color);
  text-decoration: none;
  color: var(--bg-dark-color);
  padding: 0.5em 1em;
  border: 1px solid var(--bg-dark-color);
}
.productos__gallery-item-button:hover {
  box-shadow: 2px 2px 0 2px var(--secondary-color), -2px -2px 0 2px var(--primary-color);
}

.delete {
  display: none;
}

@keyframes active {
  0% {
    opacity: 0;
    /* transform: scale(.99); */
  }
  100% {
    /* transform: none; */
    opacity: 1;
  }
}
@media (min-width: 854px) {
  .productos__gallery-item {
    cursor: pointer;
  }
  .productos__gallery-item-info {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
    background-color: transparent;
    font-size: 1.1rem;
  }
  .productos__gallery-item-description {
    gap: 0.5rem;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.25s ease, opacity 0.25s ease;
  }
  .productos__gallery-item-button {
    opacity: 0;
    transform: translateY(150%);
    transition: transform 0.25s ease, opacity 0.25s ease, border-image 1s ease-in-out, box-shadow 0.25s ease;
    animation: gradient-inverse 1.5s ease infinite alternate paused;
  }
  .productos__gallery-item:hover .productos__gallery-item-description {
    transform: none;
    opacity: 1;
  }
  .productos__gallery-item:hover .productos__gallery-item-button {
    animation-play-state: running;
    transform: none;
    opacity: 1;
  }
  .productos__gallery-item:hover .productos__gallery-item-info {
    background-color: var(--bg-light-color);
  }
}
:root {
  --primary-color: #F9A66C;
  --secondary-color: #FFC04B;
  --tertiary-color: #F17A7E;
  --bg-light-color: #F9FAF4;
  --bg-dark-color: #4A6163;
  --text-light-color: #F9FAF4;
  --text-dark-color: #333;
  --font-family: "Alegreya Sans", sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 400 + 300;
  --font-weight-black: 900;
  --max-width: 1080px;
}

/*# sourceMappingURL=styles.css.map */
